.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;
}

.welcome-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 2em;
}

.welcome-text {
  font-size: 2em;
  font-weight: Arial;
  color: #022583;
}