:root {
  line-height: 1.5;
  color-scheme: light dark;
  color: #213547;
  background-color: #e2e2e2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* ===== NAVBAR PRINCIPAL ===== */
.navbar {
  border-radius: 8px;
  margin-block-end: -40px;
}

.header-nav {
  background-color: #022583;
  display: flex;
  padding-inline: 1.5em;
  padding-block: 1em;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.bottom-nav {
  background-color: #3664e3;
  display: flex;
  padding-inline: 1.5em;
  padding-block: 1em;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

/* ===== NAV ITEMS ===== */
.nav-link {
  color: white;
  background: none;
  border: none;
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-family: Tahoma;
}

.nav-link:hover {
  text-decoration: underline;
}

/* ===== LOGO ===== */
.logo {
  display: flex;
  align-items: center;
  color: white;
  font-family: Tahoma;
}

.logo img {
  height: 45px;
  margin-right: 15px;
}

/* ===== MODO OSCURO ===== */
@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #4b4b4b;
  }

  .bottom-nav {
    background-color: #022583;
  }

  .nav-link {
    color: #ffffff;
  }

  .nav-link:hover {
    color: #ffffff;
  }
}