services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    hostname: ${DB_HOSTNAME}
    ports:
      - "${DB_PORT_HOST}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_HOSTNAME: ${DB_HOSTNAME}
      DB_PORT: 5432
    ports:
      - "${BACKEND_PORT_HOST}:3001"
    depends_on:
      - db

  frontend:
    build:
      context: ./cliente
      dockerfile: Dockerfile
    ports:
      - "${APP_PORT_HOST}:5173"
    depends_on:
      - backend

volumes:
  postgres_data:
