services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    hostname: ${DB_HOSTNAME}
    ports:
      - "${DB_PORT_HOST}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./server
      dockerfile: dockerfile
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_HOSTNAME: ${DB_HOSTNAME}
      DB_PORT: 5432
    ports:
      - "${BACKEND_PORT_HOST}:3001"
    depends_on:
      - db
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/api/health"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  frontend:
    build:
      context: ./cliente
      dockerfile: dockerfile
    ports:
      - "${APP_PORT_HOST}:5173"
    depends_on:
      - backend

  unittest:
    build:
      context: ./tests
      dockerfile: Dockerfile
    depends_on:
      backend:
        condition: service_healthy
volumes:
  postgres_data:
